*{
    margin: 0;
    box-sizing: border-box;
}

.navitems{
    display: flex;
    justify-content: space-between;
    width: 30%;
    text-decoration: none;
    list-style: none;
}

.container{
    
    display: grid;
    height: 100svh;
    width: 100svw;
    background-color:black;
    grid-template-areas:  
    "header "
    "app "
    "sidebar";

    grid-template-rows: 1fr 500px 1fr;
}

.header{
    
    display: flex;
    background-color:gray;
    grid-area:header;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.app{
    display: flex;
    background:none;
    background-image:;
    background-size:550px 680px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    grid-area:app;
    justify-content: center;
    align-items: center;
    
}

.sidebar{
   display: flex;
   flex: 1;
   justify-content: space-around;
   align-items: center;
   background-color: gray;
}
input{
    width: fit-content;
}


.board{
    display: grid;
    background-color: white;
    height: 360px;
    width: 400px;
    z-index: 100;
    gap: 1px;
    transform: translateY(-15px);
}

