*{
    margin: 0;
    box-sizing: border-box;
}

.navitems{
    display: flex;
    justify-content: space-between;
    width: 30%;
    text-decoration: none;
    list-style: none;
}

button{
    border-radius: 10px;
    border: none;
    padding: ;
}

.container{
    
    display: grid;
    height: 100svh;
    width: 100svw;
    background-color:black;
    grid-template-areas:  
    "header "
    "app "
    "sidebar";
    grid-template-rows: 1fr 500px 1fr;
    grid-template-columns: 100svw;
}

.header{
    
    display: flex;
    color: white;
    background-color:rgba(250, 250, 250, 0.133);
    grid-area:header;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.app{
    display: flex;
    background-repeat: no-repeat;
    grid-area:app;
    justify-content: center;
    align-items: center;
    
}

.sidebar{
   display: flex;
   flex: 1;
   justify-content: space-around;
   align-items: center;
   background-color: gray;
}
input{
    width: fit-content;
}


.board{
    display: grid;
    height: 400px;
    width: 400px;
    z-index: 100;
    gap: 1px;
    padding: 10px;
    border: double 5px blue;
}

.gap{

    gap: 0;
}